<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" (click)="start()">Start</a>
        <a class="btn btn-primary" (click)="step()">Step</a>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <ul *ngIf="_context">
            <li>Instruction Pointer : {{_context.instructionPointer}}</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <ul>
            <li *ngFor="let line of _console">
                {{line}}
            </li>
        </ul>
    </div>
    <div class="col-md-6 monofont" [innerHTML]="_result">
    </div>
</div>